# Byte-compiled / optimized / DLL files

*.log
*.asv

opensim.txt
examples/*
!examples/Hamner_modified.osim
!examples/LaiArnold_modified.osim

InverseDynamics/*
!InverseDynamics/DefaultPosition.mot
!InverseDynamics/SetupID

